body {
  font-family: adobe-garamond-pro, serif;
  font-weight: 700;
  font-style: normal;
}

.frontImage {
  border-radius: 10px;
  box-shadow: 2px 2px 2px black;
  min-width: 50%;
}

button {
  box-shadow: 2px 2px 2px black;
}

ul {
  list-style-position: outside;
}

@media only screen and (max-width: 600px) {
  .custom {
    padding: 5vh 0vh 5vh 0vh !important;
  }
}
